In [1]:
a='''William Shakespeare (bapt. 26 April 1564 – 23 April 1616)[a] was an English poet, playwright, and actor, widely regarded as the greatest writer in the English language and the world's greatest dramatist.[2][3][4] He is often called England's national poet and the "Bard of Avon" (or simply "the Bard").[5][b] His extant works, including collaborations, consist of some 39 plays,[c] 154 sonnets, two long narrative poems, and a few other verses, some of uncertain authorship. His plays have been translated into every major living language and are performed more often than those of any other playwright.[7]

Shakespeare was born and raised in Stratford-upon-Avon, Warwickshire. At the age of 18, he married Anne Hathaway, with whom he had three children: Susanna and twins Hamnet and Judith. Sometime between 1585 and 1592, he began a successful career in London as an actor, writer, and part-owner of a playing company called the Lord Chamberlain's Men, later known as the King's Men. At age 49 (around 1613), he appears to have retired to Stratford, where he died three years later. Few records of Shakespeare's private life survive; this has stimulated considerable speculation about such matters as his physical appearance, his sexuality, his religious beliefs, and whether the works attributed to him were written by others.[8][9][10] '''
print(a)

William Shakespeare (bapt. 26 April 1564 – 23 April 1616)[a] was an English poet, playwright, and actor, widely regarded as the greatest writer in the English language and the world's greatest dramatist.[2][3][4] He is often called England's national poet and the "Bard of Avon" (or simply "the Bard").[5][b] His extant works, including collaborations, consist of some 39 plays,[c] 154 sonnets, two long narrative poems, and a few other verses, some of uncertain authorship. His plays have been translated into every major living language and are performed more often than those of any other playwright.[7]

Shakespeare was born and raised in Stratford-upon-Avon, Warwickshire. At the age of 18, he married Anne Hathaway, with whom he had three children: Susanna and twins Hamnet and Judith. Sometime between 1585 and 1592, he began a successful career in London as an actor, writer, and part-owner of a playing company called the Lord Chamberlain's Men, later known as the King's Men. At age 49 (around 1613), he appears to have retired to Stratford, where he died three years later. Few records of Shakespeare's private life survive; this has stimulated considerable speculation about such matters as his physical appearance, his sexuality, his religious beliefs, and whether the works attributed to him were written by others.[8][9][10]

# Strings is contiguous set of characters represented in quotations. We can use single or double quotes. We can access the substring inside a string by using slicing .when it comes to allowing strings to span multiple lines lets say of a paragraph the triple quotes helps. The triple quotes can be either 3 single or 3 double quotes.To allow double quotes inside double quotes we have to backslash characters (\) before the quotes . ex:  “vellore is a very \”good\” district” .

In [2]:
list=["edinburgh","manchester","barcelona","madrid","milan","glassbow","bermingham"]
for i in list:
    print(list)

['edinburgh', 'manchester', 'barcelona', 'madrid', 'milan', 'glassbow', 'bermingham']
['edinburgh', 'manchester', 'barcelona', 'madrid', 'milan', 'glassbow', 'bermingham']
['edinburgh', 'manchester', 'barcelona', 'madrid', 'milan', 'glassbow', 'bermingham']
['edinburgh', 'manchester', 'barcelona', 'madrid', 'milan', 'glassbow', 'bermingham']
['edinburgh', 'manchester', 'barcelona', 'madrid', 'milan', 'glassbow', 'bermingham']
['edinburgh', 'manchester', 'barcelona', 'madrid', 'milan', 'glassbow', 'bermingham']
['edinburgh', 'manchester', 'barcelona', 'madrid', 'milan', 'glassbow', 'bermingham']

# list is a data structure in python which is represented by [] square brackets. It can store any type of data into it. The data need not be of same type.  The list is created by listing the items in square brackets separated by comma. The list indexing starts from 0. For accessing the list element specify the index with list name. to access 3 rd element write list[2]. In list we can update the values . we can use append function to add new element into the existing list.

In [3]:
for i in list:
    print(list[i])

TypeError: list indices must be integers or slices, not str

In [4]:
print(list)

['edinburgh', 'manchester', 'barcelona', 'madrid', 'milan', 'glassbow', 'bermingham']

In [5]:
print(list[:3])

['edinburgh', 'manchester', 'barcelona']

In [6]:
print(list[3])

madrid

In [7]:
list1=["london","berlin"]
list.append(list1)
print(list)

['edinburgh', 'manchester', 'barcelona', 'madrid', 'milan', 'glassbow', 'bermingham', ['london', 'berlin']]

In [8]:
list+list1

['edinburgh',
 'manchester',
 'barcelona',
 'madrid',
 'milan',
 'glassbow',
 'bermingham',
 ['london', 'berlin'],
 'london',
 'berlin']

In [9]:
tuple(list)

('edinburgh',
 'manchester',
 'barcelona',
 'madrid',
 'milan',
 'glassbow',
 'bermingham',
 ['london', 'berlin'])

# A tuple is another sequence that is similar to the list. A tuple consists of a number of items separated by commas. Unlike lists, however, tuples are enclosed within parenthesis. The main difference between lists and tuples is- Lists are enclosed in brackets  [ ]  and their elements and size can be changed, while tuples are enclosed in parentheses ( ) and cannot be updated.Tuples are ordered as well. We can convert a list into tuple and vice versa. The tuples can be concatenated as well.

In [10]:
dict={badminton:"saina nehwal",boxing:"mary kom",cricketer:"mithali raj",tennis:"roger federer"}
print(dict)
print(dict[0])
print(dict[-1])

NameError: name 'badminton' is not defined

In [11]:
dict={"badminton":"saina nehwal","boxing":"mary kom","cricketer":"mithali raj","tennis":"roger federer"}
print(dict)

{'badminton': 'saina nehwal', 'boxing': 'mary kom', 'cricketer': 'mithali raj', 'tennis': 'roger federer'}

In [12]:
print(dict[0])

KeyError: 0

In [13]:
print(dict.key)

AttributeError: 'dict' object has no attribute 'key'

In [14]:
print(dict.key("badminton"))

AttributeError: 'dict' object has no attribute 'key'

# Dictionaries are enclosed by curly braces ({ }) and values can be assigned and accessed using square braces ([]).Each key is separated from its value by a colon (:), the items are separated by commas , and the whole thing is enclosed in curly braces. An empty dictionary without any items is written with just two curly braces, like this: {}.The keys needs to be unique but the values need not be. We use dictionary for representing a item with its description as one element. The dictionary is mutable.

In [15]:
t=104,107,216,407

In [16]:
print(t)

(104, 107, 216, 407)

In [17]:
t=104,107,107,216,407
print(t)

(104, 107, 107, 216, 407)

In [18]:
p=(104,107,216,407,107)
print(p)

(104, 107, 216, 407, 107)

In [19]:
i={"student":"1024","1023":"xyz"}
print(i)

{'student': '1024', '1023': 'xyz'}